<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nash.sautiyaunabii">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sda_church_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sda_church_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuestionsDetailsActivity"></activity>
        <activity android:name=".LessonsDetailsActivity"></activity>
        <activity android:name=".MajibuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>